@-ms-viewport{
  width: device-width;
}

body {
  background: RGB(248, 244, 255);
}

#engines, #trails {
  position: absolute;
  bottom: -20%;
  left: 15%;
}

#wish {
  position: absolute;
  top: 15%;
  right: 35%;
  color: RGB(26, 21, 63);
  /*font-family: "Georgia", "Times New Roman", serif;*/
  /*font-style: italic;*/
  font-size: 5em;
  line-height: 0.3;
}

#wish p {
  text-align: right;
}
