@-ms-viewport{
  width: device-width;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  background: RGB(248, 244, 255);
}

#engines, #trails {
  position: absolute;
  bottom: 0%;
  left: 30%;
}

/*
#flower {
  border: 2px solid black;
}
*/

#wish {
  position: absolute;
  top: 15%;
  right: 35%;
  color: RGB(26, 21, 63);
  /*font-family: "Georgia", "Times New Roman", serif;*/
  /*font-style: italic;*/
  font-size: 500%;
  line-height: 30%;
}

#wish p {
  text-align: right;
}
