@-ms-viewport{
  width: device-width;
}

body {
  background: RGB(248, 244, 255);
}

#engines, #trails {
  position: fixed;
  bottom: -150px;
  left: 250px;
}

#wish {
  position: fixed;
  top: 100px;
  right: 600px;
  color: RGB(26, 21, 63);
  /*font-family: "Georgia", "Times New Roman", serif;*/
  /*font-style: italic;*/
  font-size: 5em;
  line-height: 0.3;
}

#wish p {
  text-align: right;
}
